@charset "UTF-8";
/* Geral do HTML */
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:aliceblue;
}
/*--------------------------------------------*/
header .logo{
    width: 100px;
    height: 100px;
}
#cabecalho p{
    margin: auto;
}
/*------------------------------------------------*/
nav{
    font-size: 1.4rem;
    margin:20px;
}
nav li{
    color:black;
}

#spaconav li {
    padding-left: 50px;
}
nav img{
    width:50px;
    height:50px;
}
nav{
    margin:0;
}
/*------------------------------------------------*/
@media (max-width: 576px) {
    header p, nav{
      font-size: 1rem;
    }
    nav #fontImgNav{
        font-size:1rem;
    }
}
/*------------------------------------------------*/

#banner img{
    width:100%;
    height:auto;
}
#cabecalho2 p {
    margin:0;
    padding-left: 0;
    justify-content: center;
}

.tirandoEspacoDoHTML{
    margin-right: 0;
}

footer {
    padding-top:20px;
    padding-bottom: 50px;
}

footer img{
    height:90px;
    width:90px;
    padding:10px;
}

button{
    margin:10px;
}

.espacinho input{
    margin-top: 15px;
}
p{
    font-size: 20px;
    color: #986800;
}
h2, h3{
    color: #986800;
}

