@charset "UTF-8";

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:aliceblue;
}
nav{
    font-size: 1.4rem;
    margin:20px;
}
nav li{
    color:black;
}


.logo{
    width: 50%;
    height: auto;
}

#cabecalho p {
    margin:0;
    padding-left: 25%;
    justify-content: center;
}

#spaconav li {
    padding-left: 50px;
}

#banner img{
    width:100%;
    height:auto;
}
#cabecalho2 p {
    margin:0;
    padding-left: 0;
    justify-content: center;
}

.tirandoEspacoDoHTML{
    margin-right: 0;
}

footer {
    padding-top:20px;
}

footer img{
    height:90px;
    width:90px;
    padding:10px;
}

button{
    margin:10px;
}

.espacinho input{
    margin-top: 15px;
}