.login-container {
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container img {
    width: 150px;
    margin-bottom: 20px;
}

.login-container form {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.links {
    font-size: 14px;
}

.links a {
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}